################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/DynaDesign2024/obj/Debug
/DynaDesign2024/bin/Debug
/DynaDesign2023/obj/Debug
/DynaDesign2023/bin/Debug
/DynaDesignNM2023/bin/Debug
/DynaDesignNM2023/obj/Debug
/DynaDesignNM2024/bin/Debug
/DynaDesignNM2024/obj/Debug
